$main_color : #686868;
$address_color : #E75B1E;
$team_color: #1f1f1f;
$color_black : #111111;
$header_font : 'nautilus_pompiliusregular';
$page1color: #E6E6E6 ;
$paragraphe_color: #676767 ;
$shadow_color: #1111114e;